
<div class="mt-6" style="text-align: center;">
<button class="p-5 button btn voir_plus is-outlined">
<a href="{{link}}">
{{label}}
</a>
<div class="btn__bg">{% include '/components/svgs/' ~ random(1,10) ~ '.svg' %}</div>
</button>
</div>