<h1 class="title m_title">
	<a href="{{link}}">
		{% if icon_before %}
			<i class="ico_before {{icon_before}}"></i>
		{% endif %}
		{{label}}
		<i class="ico_after fas fa-chevron-right"></i>
	</a>
</h1>
