{% set blog_title = fn.get_bloginfo( 'name' ) %}

<footer class="footer">
{% include '/components/svgs/' ~ random(1,10) ~ '.svg' %}
  <div class="content has-text-centered">
   {{blog_title}} &#169; {{ 'now' | date('Y') }}<br>
   Hosted on a Raspberry Pi & coded with &hearts;
  </div>
</footer>
