section.filters {

}

.select2-container--default .select2-selection--multiple .select2-selection__choice {

    color: white;

}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    height: 100%;
    border-right:  1px solid $white !important;
    color: white !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: $turquoise !important;
    border: 1px solid $white !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: $turquoise !important;
}

.select2-results__option--selectable {
    color: $black;
}