section.filters {

}

.select2-container--default .select2-selection--multiple .select2-selection__choice {

    color: white;

}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    height: 100%;
    border-right:  1px solid $white !important;
    color: white !important;
    border-radius: 0px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: $turquoise !important;
    border: 1px solid $white !important;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: $turquoise !important;
}

.select2-results__option--selectable {
    color: $black;
}

.select2-container .select2-selection--multiple {
    min-height: 40px !important;
}
.select2-container .select2-selection--single {
    height: 40px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding-top: 5px !important;
}

.select2-container--default .select2-search--inline .select2-search__field {
    height: 28px !important;
    line-height: 1.9em;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover, .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:focus {
    color: $black !important;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border:1px solid $turquoise !important;
}