.footer {
   padding:0px;
background: transparent;
padding-top: 100px;
svg {
    width: 100%;
    path {
        fill:$turquoise;
    }
}
.content {
    background: $turquoise;
    padding:100px 20px;
    //padding-bottom: 100px;
    margin-top:-6px;
}
}