.single {

    // .container-fluid, .footer {background-color: $white;}
    // .animation_header {
    //     margin-top: -50px;
    // }
    .hero_single {
        margin-bottom: 100px;
    }


    .container.single {
        padding: 50px;
        position: relative;
        z-index: 50;
        margin-top: 50px !important;
        color: $black;

        .box {
            padding: 0px;
            overflow: hidden;

            background-color: white;

            .content {
                padding: 30px;
            }
        }

    }

    .date {
        // color: $turquoise;
    }

    .cats {
        li {
            list-style: none;
            display: inline-block;
            margin-bottom: 0px;
            margin-left: 15px;
            transition: color 0.3s ease;

            &:hover {
                color: $turquoise;
                transition: color 0.3s ease;
            }
        }

        margin-bottom: 30px;
    }

    .side_single {
        @include from($widescreen) {
            display: none;
        }

        @include until($desktop) {
            display: none !important;
        }

        transition: all 0.3s ease;

        .test {
            position: sticky;
            top: 50px;
            transition: all 0.3s ease;
        }



    }

    transition:all 0.3s ease;

    .cats ul {
        margin-left: 0px;
    }

    .tags_single ul {
        margin-left: 0px;
    }


    .tags_single {
        li {
            list-style: none;
            display: inline-block;
            border-radius: 5px;
            margin: 5px;
            border: 1px solid #e6e6e6;
            font-size: 13px;
            list-style: none;
            padding: 5px 10px;
            transition: all 0.3s ease;

            &:hover {
                border: 1px solid $turquoise;
                background-color: $white;
                color: $turquoise;
                transition: all 0.3s ease;
            }
        }

        margin-bottom: 30px;
    }

    .reading_time {
        span {
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 0px;
                bottom: -7px;
                width: 100%;
                background-color: $turquoise;
                height: 1px;
            }
        }
    }

    .related {
        margin-top: 200px;
    }

a {
    color: inherit;
    transition: color 0.3s ease;
    &:hover {
        color: $turquoise;
        transition: color 0.3s ease;
    }
}

}